---
layout: default
title: Blog
---

<div class="container">
  <div class="inner">
    <div class="page-title">
      <h2>Tous les articles</h2>
    </div>
    <ul class="page-blog">
      {% for post in site.posts %}
        {% if post.status == 'tech' %}
          <li>
            <div class="post">
              <h3><span class="underlined">{{ post.title }}</span></h3>
              <p><span class="text-light-upcase">{{ post.date | date: "%d %B %Y" }}</span>
                 <span class="text-light-upcase tags-separator"> | </span>
                 <span class="text-light-upcase">{{ post.tags }}</span>
              <p>{{ post.description }}</p>
              <a href="{{ post.url }}" class="btn-green btn-animation">Lire l'article</a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

