---
layout: default
title:  Alexandre Bouvier
---
<div class="container">
  <div class="inner">
    <div class="page-title">
      <h1>Blog Ruby on Rails</h1>
    </div>
    <ul class="page-blog">
      {% for post in site.posts %}
        {% if post.status == 'tech' %}
          <li>
            <div class="post">
              <a href="{{ post.url }}">
                <h3>
                  <span class="underlined">
                    {{ post.title }}
                  </span>
                </h3>
              </a>
              <p>
                <span class="text-light-upcase">
                  {{ post.date | date: "%d %B %Y" }}
                </span>
              </p>
              <p>
                {{ post.description }}
              </p>
              <a href="{{ post.url }}"
                 class="btn-green btn-animation">
                Lire l'article
              </a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
