---
layout: default
title:  Alexandre Bouvier
---
<div class="container">
  <div class="inner">
    <div class="page-title">
      <h1>Dev Freelance Ruby on Rails</h1>
    </div>
    <div style="margin: 30px 0">
      <p>
         Suite à l’obtention de mon diplôme en Économie et Gestion à La Sorbonne, j’ai travaillé du côté opérationnel dans de nombreuses start-ups. Ma carrière a commencé chez <a href="http://www.aux-concours.com/" class="highlighted">Aux-concours.com</a> en tant que responsable e-commerce, j’ai ensuite géré les Opérations et la Logistique pour le lancement de <a href="https://www.ubereats.com/fr-FR/paris/" class="highlighted">UberEats</a> à Paris. Ensuite j’ai intégré une entreprise d’importation de produit français aux et depuis les USA.
      </p>
      <p>
        Passionné par le monde des start-ups et de l’informatique, je suis maintenant développeur web et travaille en free-lance sur de nombreux <a href="/portfolio.html" class="highlighted">projets</a>.
        J'enseigne aussi <a href="https://www.lewagon.com/lille" class="highlighted">Ruby on Rails au Wagon</a>.
        Pour plus de détails, <a href="https://alexandrebk.github.io/curriculum-vitae/curriculum-vitae.pdf" class="highlighted">vous pouvez consulter mon CV</a> et me <a href="https://www.linkedin.com/in/alexandre-bouvier-4b9a85101/" class="highlighted">contacter sur LinkedIn</a>.
      </p>
    </div>
    <ul class="page-blog">
      {% for post in site.posts %}
        {% if post.status == 'tech' %}
          <li>
            <div class="post">
              <a href="{{ post.url }}">
                <h3>
                  <span class="underlined">
                    {{ post.title }}
                  </span>
                </h3>
              </a>
              <p>
                <span class="text-light-upcase">
                  {{ post.date | date: "%d %B %Y" }}
                </span>
              </p>
              <p>
                {{ post.description }}
              </p>
              <a href="{{ post.url }}"
                 class="btn-green btn-animation">
                Lire l'article
              </a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
