<div class="container">
  <header class="d-flex align-items-center justify-content-center">

    <nav class="navbar navbar-light light-blue lighten-4 w-100">
      <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

      <a href="/">
        <div class="d-avatar pull-right">
          <img class="avatar" src="/images/alexandrebk.jpeg" alt="My profile picture" />
          <div>
            <h2>Alexandre <span class="font-weight-bold">Bouvier</span></h2>
            <h2><span class="text-light-upcase">Développeur et formateur</span></h2>
          </div>
        </div>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul id="list" class="navbar-nav mr-auto p-2">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %} active {% endif %}" href="/">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/blog.html' %} active {% endif %}" href="/blog.html">
              Mon Parcours
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/portfolio.html' %} active {% endif %}" href="/portfolio.html">
              Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/contact.html' %} active {% endif %}" href="/contact.html">
              Contact
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/contact.html' %} active {% endif %}" href="http://www.alexandrebouvier.fr/curriculum-vitae/curriculum-vitae.pdf" target="_blank">
              CV
            </a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
</div>
