<header class="container">
  <nav class="navbar">
    <div class="avatar-and-name">
      <a href="/">
        <div class="d-avatar">
          <img class="avatar collapse"
               src="/images/alexandrebk.jpeg"
               width="84"
               height="84"
               alt="My profile picture" />
          <div>
            <h2 class="fullname"><span class="font-weight-bold">Alexandre Bouvier</span></h2>
            <h2><span class="text-light-upcase">Fullstack Developer Ruby on Rails</span></h2>
          </div>
        </div>
      </a>
    </div>

    <div class="navbar-collapse">
      <ul id="list" class="navbar-nav mr-auto p-2">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %} active {% endif %}" href="/">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/resources.html' %} active {% endif %}" href="/resources.html">
            Ressources
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains 'cheat_sheets' %} active {% endif %}" href="/cheat_sheets">
            Cheat Sheet
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/portfolio.html' %} active {% endif %}" href="/portfolio.html">
            Portfolio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.alexandrebouvier.fr/curriculum-vitae/curriculum-vitae.pdf" target="_blank">
            CV
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
