.footer .container{
  width: 600px;
}

.footer{
  height:           40px;
  background-color: #EEEEEE;
}

.footer .fab{
  color:     #535353;
  font-size: 30px;
  padding:   0 5px;
}

.footer .fab:hover{
  color: #212121;
}
