footer {
  margin: 1.5rem 0;

  svg {
    width:  30px;
    height: 30px;
    margin: 16px 6px;
    transition: margin-top 0.5s ease-out;
  }

  svg:hover {
    margin-top: 0px;
  }

  div {
    display:         flex;
    align-items:     center;
    justify-content: center;
  }
}
