body {
  margin: 0 0;
  color: $white2;
  background-color: $light-dark;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: $white2;

  &:hover {
    text-decoration: none;
    color: $white2;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  margin-top: 0;
}

h1, h2 {
  font-family: 'Open-sans', 'Helvetica', sans-serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 125%;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

p {
  font-family: 'Times New Roman', serif;
  font-weight: 200;
  line-height: 170%;
  font-size: 1.25rem;
}

.inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.underlined {
  background: linear-gradient(180deg,rgba(255,255,255,0) 90%, $light-green 50%);
}

.text-light-upcase {
  text-transform: uppercase;
  font-family:    "Open-sans", sans-serif;
  font-weight:    200;
  font-size:      0.7rem;
  color:          $white2;
}

.page-title {
  margin:     2rem 0rem;
  text-align: center;
}

.text-white {
  color: $white;
}

.resource {
  padding: 8px 0;

  p {
    font-size: 1rem;
  }
}
