body{
  margin: 0 0;
}

a:hover {
  text-decoration: none;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 170%;
}

.inner h1,h2{
  font-family: 'Alegreya', serif;
}

.inner {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.inner ul{
  list-style: none;
  padding-left: 0;
}
