body {
  margin: 0 0;
  color:  $white2;
  background-color: #1B2733;
}

a {
  color: $white2;
  &:hover {
    text-decoration: none;
    color: $white2;
  }
}

h1, h2 {
  font-size:   1.6rem;
  font-family: "Open-sans", sans-serif;
  line-height: 2rem;
}

h1 {
  margin: 0;
}

h2 {
  font-weight:    200;
  text-transform: uppercase;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  line-height: 170%;
}

.inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.inner ul{
  list-style: none;
  padding-left: 0;
}

.underlined {
  background: linear-gradient(180deg,rgba(255,255,255,0) 90%, $light-green 50%);
}

.text-light-upcase {
  text-transform: uppercase;
  font-family:    "Open-sans", sans-serif;
  font-weight:    200;
  font-size:      0.7rem;
  color:          $white2;
}

.page-title {
  margin:     2rem 0rem;
  text-align: center;
}

.text-white {
  color: $white;
}
