header h2 {
  margin-bottom: 0;
  line-height: 1.5rem;
}

nav li, nav a {
  margin-right:   0.6rem;
  margin-left:    0.6rem;
  text-transform: uppercase;
}

nav li:last-child {
  margin-right: 0;
}

.navbar {
  padding: 10px 0 !important;
}

.nav-item {
  background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    $light-green 50%,
    $light-green);
  background-position: 100% 0;
    background-size:   200% 100%;
    transition:        all .25s ease-in;
}
.nav-item:hover{
  background-position: 0 0;
  a {
    color:$white;
  }
}

.avatar {
  border-radius:  50%;
  max-width:      84px;
  margin-right:   12px;
}

.d-avatar {
  display:     flex;
  align-items: center;
  @media (max-width: 720px) {
    flex-direction: row-reverse;
  }
}

nav button {
  display: none;
}

ul#list {
  display: -webkit-inline-box;
}

.navbar-collapse {
  flex-basis: unset !important;
  flex-grow:  unset !important;
}

.collapse:not(.show) {
  display: block !important;
}

@media (max-width: 720px) {
  nav button {
    display: block;
  }
  ul#list {
    display: flex;
  }
  .collapse:not(.show) {
    display: none !important;
  }
}
