header h2 {
  margin-bottom: 0;
  line-height: 1.5rem;
}

nav li, nav a {
  margin-right:   0.6rem;
  margin-left:    0.6rem;
  text-transform: uppercase;
}

nav li:last-child {
  margin-right: 0;
}

nav {
  svg {
    width:  40px;
    height: 40px;
  }

  .fullname {
    font-size: 1.75rem;
  }
}

.navbar {
  padding: 10px 0 !important;
}

.active {
  text-decoration: underline;
}

.nav-link {
  color: $white2 !important;
}

.avatar {
  border-radius:  50%;
  max-width:      84px;
  margin-right:   12px;
}

.d-avatar {
  display:     flex;
  align-items: center;
  @media (max-width: 720px) {
    flex-direction: row-reverse;
  }
}

nav button {
  display: none;
}

ul#list {
  display: -webkit-inline-box;
}

.navbar-collapse {
  flex-basis: unset !important;
  flex-grow:  unset !important;
}

.collapse:not(.show) {
  display: block !important;
}

@media (max-width: 720px) {
  nav button {
    display: block;
  }
  ul#list {
    display: flex;
  }
  .collapse:not(.show) {
    display: none !important;
  }
}
