.portfolio{
  padding:         40px 0;
  border-top:      1px solid $light-grey;
  display:         flex;
  justify-content: space-between;
}

.portfolio img {
  width:         300px;
  margin-right:  1.4rem;
  border-radius: 2px;
}

.page-portfolio li:last-child {
  border-bottom: 1px solid $light-grey;
}

@media (max-width: 720px) {
  .portfolio {
    display: block;
  }
  .portfolio img {
    width:         100%;
    margin-right:  0;
    margin-bottom: 1rem;
  }
}
