.inner h1{
  margin: 30px 0;
}

.portfolio{
  padding: 40px 0;
  border-top: 1px solid #E6E6E6;
}

.portfolio h2{
  margin-bottom: 20px;
}

.portfolio img{
  width: 280px;
  margin-right: 10px;
  border-radius: 2px;
  box-shadow: 0 15px 35px rgba(126, 87, 88, 0.2);
}

.pull-right{
  float: right;
}
