<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.seo_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.alexandrebouvier.fr{{ page.url }}" />
    <meta property="og:image" content="https://www.alexandrebouvier.fr/images/jim-carrey.gif" />
    <meta property="og:description" content="Ce blog est à propos de développement Web en général et de Ruby on Rails en particulier." />
    <meta property="og:site_name" content="{{ page.title }}" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
